/* ОБЩИЕ БЛОКИ */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: .2rem;
}

a {
    text-decoration: none;
    color:#FFF;
  }

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 1rem;
    font-weight: 300;
}

body {
    transition:all .1s;
    background-color: #111111;
    font-family: 'Exo 2', sans-serif;
    line-height: 1.5;
    font-size: 18px;
    color:#fff;
    min-width: 320px;
    font-weight: 300;
}
/* ОБЩИЕ БЛОКИ */


/* ГРАДИЕНТ */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* ГРАДИЕНТ */

/* АНИМАЦИЯ ПРОФИЛЕЙ */
.hover-image-scale {
    display: inline-block; 
    overflow: visible; 
}

.hover-image-scale img {
    transition: 0.7s; 
    display: block; 
}

.hover-image-scale img:hover {
    transform: scale(1.2); 
    filter: brightness(30%);
}
/* АНИМАЦИЯ ПРОФИЛЕЙ */

/* ТЕКСТ + ВИДЕО НА МЕЙН СТРАНИЦЕ */
.videotext {
    margin-top: 5rem;
    position: relative;
}

.videotext video {
    position:relative;
    z-index: -1;
}

.logotext {
    color: #edecec;
    position:absolute;
    font-size: auto;
    bottom:40%;
    left:0%;
    right:0%;
    z-index:0;
}
  
.logotext:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: wave 3s infinite;
}
/* ТЕКСТ + ВИДЕО НА МЕЙН СТРАНИЦЕ */

/* МЕТАЛЛИК ГРАДИЕНТ */
  
@-webkit-keyframes wave {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
}
/* МЕТАЛЛИК ГРАДИЕНТ */

/* КОНТЕЙНЕР КРЕДИТСОВ */

.credits {
    margin: 0 5%;
    margin-top: 10rem;
}

@media(max-width: 768px) {
    .credits {
        margin: 0 5%;
        margin-top: 8rem;
    }
    
    .credits h2{
        font-size: 16px;
    }
    .credits h3{
        font-size: 10px;
    }
}

.credits-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

/* КРЕДИТС АЙТЕМ */
.credits-item{
    padding: 5px;
    margin: 0 5px 5px
}
/* КОНТЕЙНЕР ПЛЕЙЛИСТОВ */
.playlists {
    margin-top: 10rem;
}

.playlists-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}

/* ПЛЕЙЛИСТ АЙТЕМ */
.playlists-item{
    padding: 0px;
    margin: 0 50px 50px;
}

/* КОНТЕЙНЕР СТЕШКИТОВ */
.stash-kits {
    margin: 0 5%;
    margin-top: 10rem;
}

@media(max-width: 768px) {
    .stash-kits {
        margin: 0 5%;
        margin-top: 8rem;
    }
    
    .stash-kits h2{
        font-size: 24px;
    }
    .stash-kits h3{
        font-size: 14px;
    }
}

@media(max-width: 550px) {
    .stash-kits .dropdown-menu{
        width: 50%;
        margin-left: 50vw;
        font-size: 20px;
    }
}

@media(max-width: 400px) {
    .stash-kits .dropdown-menu{
        width: 50%;
        margin-left: 40vw;
        font-size: 16px;
    }
}

@media(max-width: 540px) {
    .stash-kits h3{
        font-size: 10px;
    }
}

.stash-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
}

/* СТЕШКИТ АЙТЕМ */
.stash-item{
    padding: 0px;
    margin: 0 10px 10px;
}


/* КОНТЕЙНЕР РЕЛИЗОВ НА МЕЙНЕ */
.releases-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    overflow: hidden;
}

/* РЕЛИЗ АЙТЕМ */
.releases-item{
    position: relative;
    padding: 0px;
}

.releases-item-inner {
    border-radius: 2rem;
    position:relative;
    display: flex;
    align-self: center;
    overflow:hidden;
}

.releases-item-img {
    object-fit: cover;
    z-index: 0;
    border-radius: 2rem;
}

.releases-item-inner-hover:hover .releases-item-img{
    filter: brightness(50%); 
}

@media (max-width: 1100px) {
    .releases-item:nth-child(5) {
        display: none;
    }
}

@media (max-width: 900px) {
    .releases-item:nth-child(4) {
        display: none;
    }
} 

@media (max-width: 750px) {
    .releases-item:nth-child(3) {
        display: none;
    }
    .releases-item:nth-child(2) img{
        width: 250px;
        height: 250px;
    }
    .releases-item:nth-child(1) img{
        width: 250px;
        height: 250px;
    }
} 

@media (max-width: 575px) {
    .releases-item:nth-child(2) {
        display: none;
    }
    .releases-wrapper {
        font-size: 16px;
    }
} 

/* КОНТЕЙНЕР БИТОВ */
.beatpacks {
    margin: 0 5%;
    margin-top: 10rem;
}

@media(max-width: 768px) {
    .beatpacks {
        margin: 0 5%;
        margin-top: 8rem;
    }
    
    .beatpacks h2{
        font-size: 24px;
    }
    .beatpacks h3{
        font-size: 14px;
    }
}

@media(max-width: 540px) {
    .beatpacks h3{
        font-size: 10px;
    }
}



.beats-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
}

/* БИТ АЙТЕМ */
.beats-item{
    padding: 0px;
    margin: 0 10px 10px;
}

/* КОНТЕЙНЕР СОЦСЕТЕЙ (ЛАСТ СТР) */
.community {
    margin-top: 7rem;
}

.community-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-wrap: wrap;
}

/* СОЦСЕТИ АЙТЕМ */
.community-item{
    padding: 0;
    margin: 1rem;
}
@media(max-width: 1024px){
    .socials-block h2 {
        font-size: 20px;
    }
}
@media(max-width: 672px){
    .socials-block .hover-image-scale img {
        width: 15vw;
        height: 15vw;
    }
    .socials-block h2 {
        font-size: 16px;
    }
}

/* МЕНЮ */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 10px 10px;
    background-color: #111111;
    z-index: 100000;
}

header.sticky {
    padding: 5px 10px;
    background: white;
}

header.sticky .logo {
    filter: invert(1);
    transition: 0.1s;
}

header.sticky .logo:hover {
    transform: scale(1.2);
}

header.sticky ul li a {
    color: #111111;
    font-weight: 700;
}

header.sticky li a:after {
    display: block;
    margin-top: 1px;
    content: ""; 
    height: 2px; 
    width: 0%; 
    background-color: #111111; 
    transition: width 0.1s ease-in-out;
}

header.sticky li a:hover:after,
header.sticky li a:focus:after {
    width: 100%;
}

header .logo {
    position: relative;
    transition: 0.3s; 
}

header .logo:hover {
    transform: scale(1.2);
}

header ul {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header ul li {
    position: relative;
    list-style: none;
    margin: 15px;
    padding: 0;
}

header ul li a {
    position: relative;
    transition: 0.1s;
}

header li a:after {
    display: block;
    margin-top: 1px;
    content: ""; 
    height: 2px; 
    width: 0%; 
    background-color: #ffffff; 
    transition: width 0.1s ease-in-out;
}

header li a:hover:after,
header li a:focus:after {
    width: 100%;
}

@media(max-width: 1000px){
    header {
        font-size: 13px;
    }
}

@media(max-width: 850px){
    header {
        font-size: 11px;
    }
}

@media(max-width: 758px){
    header ul li a{
    }
    header {
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
    }
    header .logo img{
        width: 70px;
        height: 70px;
    }
    header ul li {
        position: relative;
        list-style: none;
        margin: 5px;
        padding: 0 5px;
    }
}

@media(max-width: 500px){
    header ul li a{
    }
    header {
        flex-direction: column;
        justify-content: center;
        font-size: 8px;
    }
    header ul li {
        position: relative;
        list-style: none;
        margin: 2px;
        padding: 0 5px;
    }
}


@media(max-width: 390px){
    header ul li a{
    }
    header {
        flex-direction: column;
        justify-content: center;
        font-size: 8px;
    }
    header ul li {
        position: relative;
        list-style: none;
        margin: 2px;
        padding: 0;
    }
}

@media(max-width: 320px){
    header ul li a{
    }
    header {
        flex-direction: column;
        justify-content: center;
        font-size: 6px;
    }
    header ul li {
        position: relative;
        list-style: none;
        margin: 2px;
        padding: 0;
    }
}



/* МЕНЮ МОБИЛКИ*/

#checkbox_toggle {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.hamburger-line {
    background-color:#ffffff;
    display: block;
    height: 2px;
    position: relative;
    width: 26px;
}

.hamburger-line::before,
.hamburger-line::after {
    background-color: #ffffff;
    content: '';
    display: block;
    position: absolute;
    transition: all .5s ease-out;
    width: 100%;
    height: 100%;
}

.hamburger-line::before {
    top: 7px;
}

.hamburger-line::after {
    top: -7px;
}

/* МЕНЮ АДАПТИВ*/

@media (max-width: 1078px) {
    .menu {
        max-height: 0;
        position: fixed;
        overflow: hidden;
        background-color: #111111;
        right: 0;
        left: 0;
        display: flex;
        flex-flow: column nowrap;
        z-index: 1000;
    }

    .menu a {
        display: block;
        padding: 15px;
        color: #ffffff;
    }
    
    .menu li {
        transition: all .5s ease-out;
        justify-content: space-evenly;
        align-items: center;
        font-size: 24px;
    }

    #checkbox_toggle:checked ~ .menu {
        display: block;
        max-height: 100%;
        transition: all .5s;
        min-height: 40rem;
    }

    #checkbox_toggle:checked ~ .navbar {
        max-height: 100%;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger-line {
        background: transparent;
    }
    
    #checkbox_toggle:checked ~ .hamburger .hamburger-line:before {
        transform: rotate(45deg);
        top: 0px;
    }
    
    #checkbox_toggle:checked ~ .hamburger .hamburger-line:after {
        transform: rotate(-45deg);
        top: 0px;
    }

    .hamburger {
        display: block;
        padding: 20px 0px;
    }
    
}

/* ГАЛЕРЕЯ ВНИЗУ МЕЙНА (ПОЗЖЕ УДАЛИТЬ) */
section.gallery{
    position: relative;
  }
  
  .gallery-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 0;
  }
  .gallery-item{
    display: block;
    flex: 25%;
    overflow: hidden;
    position: relative;
  }

  .gallery-item-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    opacity: 0;
    transition: opacity .5s ease;
    z-index: 2;
  }

  .gallery-item:hover .gallery-item-hover{
    opacity: 1;
  }

  .gallery-item:hover img{
    transform: scale(1.2);
  }

  .gallery-item img{
    max-width: 100%;
    height: auto;
    transition: all .4s ease;
  }

  /* ГАЛЕРЕЯ АДАПТИВ */
  @media (max-width: 991px){
    .gallery-item{
      flex: 33.3%;
    }
  }

  @media (max-width: 768px){
    .gallery-item{
      flex: 50%;
    }
  }
  
  @media (max-width: 530px){
    .gallery-item{
      flex: 100%;
    }
  }

  /* КНОПКИ */
  .btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items:flex-start;
}

.btn2 {
	font-size: 16px;
	color: #fff;
	background: linear-gradient(to left, #283048, #859398, #283048);
	text-decoration: none;
	padding: 20px 60px;
	border-radius: 10px;
	background-size: 200%;
	transition: .4s;
    margin-bottom: 50px;
}

.btn2:hover {
	background-position: right;
}

/* КОНТЕЙНЕР УЧАСТНИКОВ */

.members {
    margin: 0 5%;
    margin-top: 10rem;
}

@media(max-width: 768px) {
    .members {
        margin: 0 5%;
        margin-top: 8rem;
    }
    
    .members h2{
        font-size: 20px;
    }
    .members h4{
        font-size: 12px;
    }
}

.members-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

/* МЕМБЕР АЙТЕМ + АНИМАЦИЯ БЛОКА */

.members-item{
    padding: 5px;
    margin: 0 5px 5px;
}

.members-item-inner {
    border-radius: 2rem;
    position:relative;
    display: flex;
    overflow:hidden;
}


.members-item-img {
    object-fit: cover;
    z-index: 0;
    border-radius: 2rem;
}

.members-item-title {
    position: absolute;
    display: flex;
    align-self: center;
	opacity: 0;
    left: 32%;
    top: 80%;
	font-size: auto; /* Размер текста заголовка */
	text-align: center;
	color: white; /* Цвет заголовка */
    z-index: 2;
    transition: opacity 1s ease;
}


.members-item-inner:hover .members-logos{
    opacity: 1;
}

.members-item-inner:hover .members-item-title{
    opacity: 1;
}

.members-logos {
    z-index: 2;
    position: absolute;
	display: flex;
	justify-content:center;
	align-items: center;
    flex-direction: row;
	top: 40%;
    left: 8%;
	opacity: 0;
    transition: opacity 1s ease;
}

.members-logos-item {
    width: 80px;
}

.members-logos-item:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: wave 3s infinite;
}

  
.members-item-title a {
    text-decoration: none; 
    line-height: 1.5; 
    color:#ffffff;
    display:inline-block;
    text-align: center;
}

.members-item-title a:after {
    display: block; 
    content: ""; 
    height: 1.5px; 
    width: 0%; 
    background-color: #ffffff; 
    transition: width 0.3s ease-in-out;
}

.members-item-title a:hover:after,
.members-item-title a:focus:after {
    width: 100%;
}

.members-item-inner:before {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: all .5s ease;
    content: "";
    z-index: 1;
}

.members-item-inner:hover:before {
    opacity: 1;
}

.members-item-inner:hover .members-item-img {
    transform: scale(1.3);
    filter: brightness(30%);
}

/* БЛОК ДЛЯ ЛИЧНОЙ СТРАНИЦЫ */
.member-main-content {
    margin: 1vh 5vw;
}

.member-own-banner{
    height: 50vh;
}

.member-own-banner-back {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.member-own-banner-top {
    position: absolute;
    margin-left: 5vw;
    left: 0;
    top: 0;
    right: 0;
    bottom: 55vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.member-own-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-own-img img {
    width: 25vh;
    height: 100%;
    border-radius: 10rem;
}
.member-main-content ul {
    padding: .3rem;
}

.next-prev-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 1rem 5rem;
}

.member-select {
    font-size: 24px;
}

/* ЛИЧНАЯ СТРАНИЦА АДАПТИВ */
@media screen and (max-width: 768px) {
    .member-select {
        font-size: 3vw;
    }
}
@media screen and (max-width: 500px) {
    .member-select {
        font-size: 2vw;
    }
}

.members-own-logos {
	display: flex;
	justify-content: space-around;
	    align-items: center;
	    flex-direction: row;
	    flex-wrap: wrap;
	    overflow: hidden;
	    left: 0;
	    top: 0;
	    gap: .5rem;
}

.members-own-logos-item:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: wave 3s infinite;
}

/* СТИЛИЗАЦИЯ КРЕДИТС АЙТЕМА */

.credits-item-inner {
    border-radius: 2rem;
    position:relative;
    display: flex;
    overflow:hidden;
}


.credits-item-img {
    object-fit: cover;
    z-index: 0;
    border-radius: 2rem;
}

.credits-item-title {
    position: absolute;
    display: flex;
    align-self: center;
	opacity: 0;
    left: 36%;
    top: 80%;
	font-size: auto; /* Размер текста заголовка */
	text-align: center;
	color: white; /* Цвет заголовка */
    z-index: 2;
    transition: opacity 1s ease;
}


.credits-item-inner:hover .credits-logos{
    opacity: 1;
}

.credits-item-inner:hover .credits-item-title{
    opacity: 1;
}

.credits-logos {
    z-index: 2;
    position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
    flex-direction: row;
	top: 25%;
    left: 7%;
	opacity: 0;
    transition: opacity 1s ease;
}


.credits-logos-item:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: wave 3s infinite;
}

.credits-item-inner:before {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: all .5s ease;
    content: "";
    z-index: 1;
}

.credits-item-inner:hover:before {
    opacity: 1;
}

.credits-item-inner:hover .credits-item-img {
    transform: scale(1.3);
    filter: brightness(30%)
}

/* СТИЛИЗАЦИЯ СТЕШ АЙТЕМА */
.stash-item-inner {
    border-radius: 2rem;
    position:relative;
    display: flex;
    overflow:hidden;
}

.stash-item-img {
    object-fit: cover;
    z-index: 0;
    border-radius: 2rem;
}

.stash-item-title {
    position: absolute;
    display: flex;
    align-self: center;
	opacity: 0;
    left: 36%;
    top: 80%;
	font-size: auto; /* Размер текста заголовка */
	text-align: center;
	color: white; /* Цвет заголовка */
    transition: opacity 1s ease;
}

.stash-item-inner:hover .stash-item-title{
    opacity: 1;
}


.stash-item-inner:before {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: all .5s ease;
    content: "";
}

.stash-item-inner:hover:before {
    opacity: 1;
}

.stash-item-inner:hover .stash-item-img {
    transform: scale(1.3);
    filter: brightness(30%)
}

.stash-item-title a {
    text-decoration: none; 
    line-height: 1.5; 
    color:#ffffff;
    display:inline-block;
    text-align: center;
}

.stash-item-title a:after {
    display: block; 
    content: ""; 
    height: 1.5px; 
    width: 0%; 
    background-color: #ffffff; 
    transition: width 0.3s ease-in-out;
}

.stash-item-title a:hover:after,
.stash-item-title a:focus:after {
    width: 100%;
}
/* СТИЛИЗАЦИЯ БИТС АЙТЕМА */
.beats-item-inner {
    border-radius: 2rem;
    position:relative;
    display: flex;
    overflow:hidden;
}

.beats-item-img {
    object-fit: cover;
    z-index: 0;
    border-radius: 2rem;
}

.beats-item-title {
    position: absolute;
    display: flex;
    align-self: center;
	opacity: 0;
    left: 36%;
    top: 80%;
	font-size: auto; /* Размер текста заголовка */
	text-align: center;
	color: white; /* Цвет заголовка */
    transition: opacity 1s ease;
}

.beats-item-inner:hover .beats-item-title{
    opacity: 1;
}

.beats-item-inner:before {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: all .5s ease;
    content: "";
}

.beats-item-inner:hover:before {
    opacity: 1;
}

.beats-item-title a{
    text-decoration: none; 
    line-height: 1.5; 
    color:#ffffff;
    display:inline-block;
    text-align: center;
}

.beats-item-title a:after {
    display: block; 
    content: ""; 
    height: 1.5px; 
    width: 0%; 
    background-color: #ffffff; 
    transition: width 0.3s ease-in-out;
}

.beats-item-title a:hover:after,
.beats-item-title a:focus:after {
    width: 100%;
}

.beats-item-inner:hover .beats-item-img {
    transform: scale(1.3);
    filter: brightness(30%)
}

/* КНОПКА НАЗАД */
.back-link {
    padding-top: 10px;
}
  
  a#link {
    margin-top: 8px;
    color: white;
    text-decoration: none;
  }
  
a#link:after {
    display: block; 
    content: ""; 
    height: 2px; 
    width: 0%; 
    background-color: #ffffff; 
    transition: width 0.3s ease-in-out;
}

a#link:hover:after,
a#link:focus:after {
    width: 14%;
}

  /* КНОПКА С КОТИКОМ НАЗАД */
  .cat-button {
    cursor: pointer;
    width: 150px;
    height: 55px;
    background: white;
    border-radius: 50px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    animation: Gradient 2.5s infinite 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) forwards;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    font-size: 30px;
  }
  
  @keyframes Gradient {
    0% { background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) }
    10% { background: linear-gradient(90deg, #d53369 0%, #daae51 100%) }
    20% { background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%) }
    30% { background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%) }
    40% { background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%) }
    50% { background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%) }
    60% { background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%) }
    70% { background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%) }
    80% { background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%) }
    90% { background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%) }
    100% { background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) }
  }

  /* КОНТЕЙНЕР С КНОПКОЙ ПОИСКА БИТМАРЕЙ + СОРТИРОВКИ */
.membrs-btns button, input {
    border-color: white;
    border-radius: 1rem;
    padding: .7rem;
    margin: .5rem;
    min-width: 100px;
    font-size: large;
    font-family: 'Exo 2', sans-serif;
    background-color: #111111;
    color: white;
}

@media (max-width: 550px){
    .membrs-btns button, input{
        border-color: white;
        border-radius: 2rem;
        padding: 5%;
        margin: 5%;
        font-size: small;
        font-family: 'Exo 2', sans-serif;
        background-color: #111111;
        color: white;
    }
    .membrs-btns {
        margin: 10% 50%;
    }

    .show {
        display: block;
    }
      
}

.bio-about {
    margin-top: 10rem;
}

/*СЛАЙДЕР*/

.slider{
    position: relative;
    background: #111111;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 80vh;
    border-radius: 10px;
  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0
  }
  
  .slider .slide.active{
    opacity: 1;
    transition: .5s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider .slide .info{
    position: absolute;
    color: #111111;
    background: rgba(255, 255, 255, 1);
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
    padding: 2vh;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  }
  
  .slider .slide .info h2{
    font-size: 2em;
    font-weight: 1000;
  }
  
  .slider .slide .info p{
    font-size: 1.5em;
    font-weight: 500;
  }
  
  .navigation{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #111111;
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 1);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 .5rem;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #111111;
  }
  
  .info-button {
    background-color: #111111;
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 1rem 1rem;
    cursor: pointer;
    border-radius: 3rem;
  }

  @media (max-width: 1200px){
    .slider{
      width: 100%;
    }

    .slider .slide .info h2{
        font-size: 2em;
        font-weight: 1000;
      }
      
      .slider .slide .info p{
        font-size: 1em;
        font-weight: 500;
      }

      .slider .slide .info .info-button {
        background-color: #111111;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        margin: 1rem 1rem;
        cursor: pointer;
        border-radius: 3rem;
      }
  
    .slider .slide .info{
      position: relative;
      width: 70%;
      margin-top:10%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 768px){
    .slider{
      width: 100%;
    }

    .slider .slide .info h2{
        font-size: 1.7em;
        font-weight: 1000;
      }
      
      .slider .slide .info p{
        font-size: 1em;
        font-weight: 500;
      }

      .slider .slide .info .info-button {
        background-color: #111111;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        margin: 1rem 1rem;
        cursor: pointer;
        border-radius: 3rem;
      }
  
    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 630px){
    .slider .slide .info{
        position: relative;
        height: 25vh;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    .slider .slide .info h2{
      font-size: 1.5em;
    }
  
    .slider .slide .info p{
      font-size: 0.8em;
    }
  }

  @media (max-width: 768px){
    .slider {
        height: 50vh;
    }
    .navigation {
        height: 50vh;
    }
    .slider .slide .info{
        position: relative;
        height: 35vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    .slider .slide .info h2{
      font-size: 4vw;
      margin: 0;
    }
  
    .slider .slide .info p{
      font-size: 2.5vw;
      margin: 1vw 0;
    }
    .slider .slide .info .info-button {
        padding: .5rem 1rem;
        margin: 0;
        font-size: 2vw;
    }
  }
        

/* СТИЛИЗАЦИЯ ФУТЕРА */
.container{
    padding: 4%;
    max-width: 1200px;
    background-color:transparent;
    margin: 0 auto;
}

.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    bottom: 0;
	background-color: #000;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
    top: -14px;
	font-weight: 800;
	position: relative;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.3s ease-out;
}
.footer-col .social-links a:hover{
	color: #111111;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 768px){
  .footer
  .footer-col{
    width: 50%;
    margin-bottom: 20px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3d3e3f;
    cursor: pointer;
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .membrs-btns {
    margin: 1% 10%;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    background-color: #111111;
    margin-top: 8rem;
    margin-left: 17.5rem;
    min-width: 80px;
    z-index: 1;
    border-radius: 1rem;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-menu a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
  .show {
    display:block;
}

.latest-releases {
    width: 100%;
    height: 30em;
    background-image: url("//cdn.shopify.com/s/files/1/0011/6005/2795/files/4c5a44ec51a79cf494c74f82d07756ae_1500x.jpg?v=1641982368");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.releases-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.release-button {
    background-color: #111111;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 3rem;
    transition: .1s;
  }

  .sections {
    width: 100%;
    height: 40rem;
    background-image: url("https://cdn.shopify.com/s/files/1/0011/6005/2795/articles/169_3_convert.io_1.png?v=1660036111");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 2rem;
  }

  .section-wrapper {
    display: flex;
    flex-direction: column;
}

  .section-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section-item {
    border-radius: 2rem;
  }

  .section-item-inner {
    border-radius: 2rem;
}

.section-item-img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.section-item-inner-hover:hover .section-item-img{
    filter: brightness(80%); 
}

@media(max-width: 950px) {
    .section-item {
        width: 50%;
    }
    .section-item-img {
        margin-left: 5%;
        height: 20vh;
        width: 90%;
    }
    .section-list {
        display: flex;
        flex-wrap: wrap;
      }
}

@media(max-width: 575px) {
    .section-item p {
        font-size: 12px;
    }
    .section-wrapper {
        font-size: 16px;
    }
}

@media(max-width: 375px) {
    .section-item p {
        font-size: 10px;
    }
}

  .vision {
    width: 100%;
    height: 25vw;
    background-image: url("https://cdn.shopify.com/s/files/1/0011/6005/2795/articles/169_14.jpg?v=1666177850");
    background-position:bottom;
    background-size: cover;
  }

  .vision-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
  }

  .vision-wrapper-inner {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 1.8vw;
    margin: 3% 0;
  }

  .vision-wrapper-inner h2{
    margin: 0;
  }

  .vision-wrapper-inner .info-button{
    font-size: 2.2vw;
    padding: 1vw 2.5vw;
    border-radius: 10rem;
  }

  @media(max-width: 500px) {
    .vision {
        height: 31vw;
    }
  }

  .email-us {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 25vw;
  }

  .email-us-inner {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }

  .email-us-inner h1 {
    padding: 0;
    margin: 1vw;
    font-size: 3vw;
    }
    .email-us-inner h3 {
    padding: 0;
    margin: 1vw;
    font-size: 2vw;
    }

    .email-us-inner input{
        font-size: 1.5vw;
        width: 10vw;
        height: 3.5vw;
    }

    .email-input {
        margin: 2% 0;
    }

  .btn-email{
    background-color: white;
    border: none;
    color: #111111;
    padding: 1vw 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 1vw 1vw;
    cursor: pointer;
    border-radius: 10rem;
  }

  @media(max-width: 800px) {
    .email-us-inner h1 {
        padding: 0;
        margin: 1vw;
        font-size: 3vw;
        }
        .email-us-inner h3 {
        padding: 0;
        margin-bottom: 0;
        font-size: 2vw;
        }
        .email-us-inner input{
            font-size: 2vw;
            width: 8vw;
            height: 2vw;
            margin: 1vw 1vw;
        }
    
      .btn-email{
        background-color: white;
        border: none;
        color: #111111;
        padding: 1vw 1.5vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2vw;
        margin: 1vw 1vw;
        cursor: pointer;
        border-radius: 10rem;
      }
  }

  .back-to-top {
    position: fixed;
    bottom: -5rem;
    right: 5rem;
    background: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .back-to-top.active {
    bottom: 5rem;
    transition: 0.3s linear;
  }

  @media(max-width: 540px){
    .back-to-top {
        position: fixed;
        bottom: -2.5rem;
        right: 2.5rem;
        background: white;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
      }
    
      .back-to-top.active {
        bottom: 3rem;
        transition: 0.3s linear;
      }
  }

  .fa-arrow-up {
    color:#111111;
  }

  .community-block {
    margin: 0 5%;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .community-block p{
    font-size: 2rem;
  }

  @media(max-width:1100px) {
    .community-block p{
        font-size: 1.2rem;
      }
    .community h1 {
        font-size: 26px;
    }
    .community h2 {
        font-size: 20px;
    }
  }
  @media(max-width:768px) {
    .community-block p{
        font-size: 1rem;
      }
      .community h1 {
        font-size: 20px;
    }
  }
  @media(max-width:540px) {
    .community h1 {
        font-size: 1rem;
    }
    .community-block {
        margin: 0 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 15% 1fr 15% 1fr 15%;
      }
      .community h2 {
        font-size: 16px;
    }

    #bot {
        margin-top: 12%;
    }
  }

  @media(max-width:370px) {
    .community-block {
        grid-template-rows:1fr 15% 1fr 20% 1fr 15%;
      }
  }